<div class="header" [ngClass]="{'header--editor': isEditor}">
    <div class="header__logo" *ngIf="!isEditor" translate>common.loide</div>
    <div class="header__logo" (click)="goToDashboard()" *ngIf="isEditor" [ngClass]="{'header__logo--editor': isEditor}">
        <span class="icon-dashboard"></span>
    </div>
    <div class="header__menu" [ngClass]="{'header__menu--editor': isEditor}">
        <ul>
            <li *ngIf="!isEditor"><a class="header__menuItem header__menuItem--active" translate>dashboard</a></li>
            <li *ngIf="!isEditor"><a class="header__menuItem" translate>help</a></li>
            <li><a class="header__menuItem  header__notificationBell" [ngClass]="{'header__notificationBell--active': isNotification}"  (click)="notifySidebar = true">
                <span class="icon icon-notifications"></span>
            </a></li>
            <li *ngIf="!isLogedIn && !isEditor"><a class="header__menuItem" (click)="openCreateAccountDialog()" translate>header.register</a></li>
            <li *ngIf="!isLogedIn && !isEditor"><a class="header__menuItem" (click)="openAccessAccountDialog()" translate>header.login</a></li>
            <li *ngIf="isLogedIn" class="header__account">
                <a class="header__menuItem header__menuItem--account">
                    <span class="icon-person"></span>
                </a>
                <ul>
                    <li>
                        <div class="header__accountDetail">
                            <span>{{ userAccount?.profile?.firstName }} {{ userAccount?.profile?.lastName }}</span>
                            <span>{{ userAccount?.email }}</span>
                        </div>
                        <div class="header__accountLogout">
                            <button type="button" class="btn btn-danger btn--md float-right" (click)="logout()" >
                                <span class="label" translate>header.logout</span>
                            </button>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<p-sidebar
    [(visible)]="notifySidebar"
    position="right"
    [baseZIndex]="10000">
    <app-notifications [notifications]="notifications"></app-notifications>
</p-sidebar>

<p-dialog
    [modal]="true"
    [position]="'top'"
    [draggable]="false"
    [baseZIndex]="10000"
    styleClass="loide-dialog"
    [style]="{width: '500px'}"
    [(visible)]="createAccountDialog"
    header="{{ 'account.create_account' | translate }}">

    <app-create-account (cancel)="onCancelCreate($event)"></app-create-account>

</p-dialog>

<p-dialog
    [modal]="true"
    [position]="'top'"
    [draggable]="false"
    [baseZIndex]="10000"
    styleClass="loide-dialog"
    [style]="{width: '500px'}"
    [(visible)]="accessAccountDialog"
    header="{{ 'account.access_account' | translate }}">

    <app-access-account (cancel)="onCancelAccess($event)"></app-access-account>

</p-dialog>

<p-toast key="createdToast"></p-toast>
