
<div class="create">
    <form [formGroup]="createAccountForm">
    <div class="col-12 form-component" *ngIf="isFormInvalid()" >
        <div class="form-component__label form-component__label--error" >
            {{failedMessage}}
        </div>
    </div>
    <div class="col-12 form-component">
        <div class="form-component__label form-component__label--white" translate>
            account.first_name
        </div>
        <div class="col-12 p-0">
            <input pInputText type="text" 
                name="first_name"
                class="form-component__fluid" 
                formControlName="firstName"
                [ngClass]="{'form-component__fluid--error': failedValidation('firstName') }"
                placeholder="{{ 'account.placeholder_first_name' | translate}}"/>
        </div>
        <div class="form-component__label form-component__label--error" *ngIf="failedValidation('firstName')" translate>
            account.error_first_name
        </div>
    </div>
    <div class="col-12 form-component">
        <div class="form-component__label form-component__label--white" translate>
            account.last_name
        </div>
        <div class="col-12 p-0">
            <input pInputText type="text" 
                name="last_name"
                class="form-component__fluid" 
                formControlName="lastName"
                [ngClass]="{'form-component__fluid--error': failedValidation('lastName') }"
                placeholder="{{ 'account.placeholder_last_name' | translate}}"/>
        </div>
        <div class="form-component__label form-component__label--error" *ngIf="failedValidation('lastName')" translate>
            account.error_last_name
        </div>
    </div>
    <div class="col-12 form-component">
        <div class="form-component__label form-component__label--white" translate>
            account.email
        </div>
        <div class="col-12 p-0">
            <input pInputText type="text" 
                name="email"
                class="form-component__fluid" 
                formControlName="email"
                [ngClass]="{'form-component__fluid--error': failedValidation('email') }"
                placeholder="{{ 'account.placeholder_email' | translate}}"/>
        </div>
        <div class="form-component__label form-component__label--error" *ngIf="failedValidation('email')" translate>
            account.error_email
        </div>
    </div>
    <div class="col-12 form-component">
        <div class="form-component__label form-component__label--white" translate>
            account.password
        </div>
        <div class="col-12 p-0">
            <input pInputText type="password"
                name="password"
                class="form-component__fluid" 
                formControlName="password"
                [ngClass]="{'form-component__fluid--error': failedValidation('password') }"
                placeholder="{{ 'account.placeholder_password' | translate}}"/>
        </div>
        <div class="form-component__label form-component__label--error" *ngIf="failedValidation('password')" translate>
            account.error_password
        </div>
    </div>
    </form>
</div>


<div class="dialog__footer">
    <button type="button" class="btn btn-success btn--md float-right" (click)="create()" >
        <span class="label" translate>common.create</span>
    </button>
    <button type="button" class="btn btn-warning btn--md float-right" (click)="cancel()">
        <span class="label" translate>common.cancel</span>
    </button>
</div>