
<div class="create">

    <div class="col-12 form-component">
        <div class="form-component__label form-component__label--white" translate>
            account.first_name
        </div>
        <div class="col-12 p-0">
            <input pInputText type="text" 
                class="form-component__fluid" 
                placeholder="{{ 'account.placeholder_first_name' | translate}}"/>
        </div>
    </div>
    <div class="col-12 form-component">
        <div class="form-component__label form-component__label--white" translate>
            account.last_name
        </div>
        <div class="col-12 p-0">
            <input pInputText type="text" class="form-component__fluid" 
                placeholder="{{ 'account.placeholder_last_name' | translate}}"/>
        </div>
    </div>
    <div class="col-12 form-component">
        <div class="form-component__label form-component__label--white" translate>
            account.email
        </div>
        <div class="col-12 p-0">
            <input pInputText type="text" class="form-component__fluid" 
                placeholder="{{ 'account.placeholder_email' | translate}}"/>
        </div>
    </div>
    <div class="col-12 form-component">
        <div class="form-component__label form-component__label--white" translate>
            account.password
        </div>
        <div class="col-12 p-0">
            <input pInputText type="text" class="form-component__fluid" 
                placeholder="{{ 'account.placeholder_password' | translate}}"/>
        </div>
    </div>
    
</div>


<div class="dialog__footer">
    <button type="button" class="btn btn-success btn--md float-right">
        <span class="label" translate>common.create</span>
    </button>
    <button type="button" class="btn btn-warning btn--md float-right">
        <span class="label" translate>common.cancel</span>
    </button>
</div>