$color__gray: rgb(78, 93, 108);
$color__dark-gray: rgb(43, 62, 80);
$color__light-gray: rgb(232, 235, 238);
$color__light-gray-1: rgb(174, 185, 196);
$color__gray-alpha-5: rgba(78, 93, 108, 0.5);

$color__blue: rgb(91, 192, 222);
$color__dark-blue: rgb(18, 147, 187);
$color__light-blue: rgb(231, 238, 240);

$color__green: rgb(92, 184, 92);
$color__dark-green: rgb(39, 139, 39);
$color__light-green: rgb(231, 240, 231);

$color__orange: rgb(240, 173, 78);
$color__dark-orange: rgb(223, 105, 26);
$color__light-orange: rgb(240, 236, 230);

$color__red: rgb(217, 83, 79);
$color__dark-red: rgb(167, 29, 24);
$color__light-red: rgb(238, 228, 227);

$color__white: rgb(255,255,255);
$color__black: rgb(0, 0, 0);