<div class="preference">
    <div class="preference__contentToolbar">
        <app-dashboard-toolbar [toolbar]="preferenceToolbar"></app-dashboard-toolbar>
    </div>
    <div class="preference__contentMain">
        <ul class="preference__display">
            <li> <div class="preference__header" translate>preference.your_preferences</div> </li>
            <li>
                <div class="preference__label" translate>preference.solver</div>
                <div class="preference__value" translate>ASP Server Executor</div>
            </li>
            <li>
                <div class="preference__label" translate>preference.language</div>
                <div class="preference__value" translate>Answer Set Programing</div>
            </li>
            <li>
                <div class="preference__label" translate>preference.appearance</div>
                <div class="preference__value" translate>Selected theme name</div>
            </li>
            <li>
                <div class="preference__label" translate>preference.editor</div>
                <div class="preference__value" translate>Setting for the editor that includes the user enable or 
                    disable autocomplete, autocomplete fill-up characters etc..</div>
            </li>
        </ul>
    </div>
</div>