
<div class="preference" *ngIf="visible">
  <form [formGroup]="updatePreferenceForm">
  <div class="col-12 form-component preference__component">
    <div class="form-component__label preference__label" translate>
        preference.language
    </div>
    <div class="col-12 p-0">
      <p-dropdown [options]="languageOpt" formControlName="language" styleClass="preference__dropdown"></p-dropdown>
    </div>
  </div>

  <div class="col-12 form-component preference__component">
    <div class="form-component__label preference__label" translate>
        preference.theme_name
    </div>
    <div class="col-12 p-0">
      <p-dropdown [options]="themeOpt" formControlName="theme" styleClass="preference__dropdown"></p-dropdown>
    </div>
  </div>

  <div class="col-12 form-component preference__component pt-3">
    <div class="form-component__label preference__label" translate>
        preference.programing_language
    </div>
    <div class="col-12 p-0">
      <p-dropdown [options]="computerLanguageOpt" formControlName="programingLanguage" styleClass="preference__dropdown"></p-dropdown>
    </div>
  </div>

  <div class="col-12 form-component preference__component">
    <div class="form-component__label preference__label" translate>
        preference.solver
    </div>
    <div class="col-12 p-0">
      <p-dropdown [options]="solverOpt" formControlName="solver" styleClass="preference__dropdown"></p-dropdown>
    </div>
  </div>

  <div class="col-12 form-component preference__component">
    <div class="form-component__label preference__label" translate>
        preference.executor
    </div>
    <div class="col-12 p-0">
      <p-dropdown [options]="executorOpt" formControlName="executor" styleClass="preference__dropdown"></p-dropdown>
    </div>
  </div>
</form>
  <div class="col-12 form-component preference__component pt-3">
    <div class="form-component__label preference__label" translate>
        preference.options
    </div>
    <div class="col-12 p-0">
      <div class="preference__inputGroup">
        <input type="text" pInputText class="preference__inputGroupOption"
          [(ngModel)]="optionValues" placeholder="{{ 'preference.placeholder_add_options' | translate}}">
        <button pButton type="button" icon="pi pi-plus" (click)="addOptionValues()" class="ui-button-warn preference__inputGroupButton"></button>
      </div>
    </div>
    <div class="form-component__label preference__info" translate>
      preference.info_add_options
    </div>
  </div>

  <div class="col-12 form-component">
      <p-table styleClass="loide-table" [columns]="optionsTableColumns" [value]="preferenceOptions" [rowHover]="true" [scrollable]="true" scrollHeight="150px">
          <ng-template pTemplate="header" let-columns>
              <tr>
                  <th class="col" *ngFor="let col of columns" [pSortableColumn]="col.field">
                      <span translate>{{col.header}}</span>
                  </th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
              <tr>
                  <td class="col" *ngFor="let col of columns">
                      {{rowData[col.field]}}
                  </td>
              </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="columns.length" translate>
                    group.empty_member
                </td>
            </tr>
          </ng-template>
      </p-table>

      <button pButton type="button" icon="pi pi-trash" *ngIf="preferenceOptions.length !== 0 " (click)="preferenceOptions.splice(0, preferenceOptions.length)" class="ui-button-warn preference__inputGroupButton"></button>
  </div>

  <div class="clearfix"></div>
</div>

<div class="dialog__footer">
  <button type="button" (click)="update()" class="btn btn-success btn--xs float-right">
      <span class="label" translate>common.update</span>
  </button>
  <button type="button" (click)="close()" class="btn btn-warning btn--xs float-right">
      <span class="label" translate>common.cancel</span>
  </button>
</div>
