<div class="notifications">
    <div class="notifications__header" translate>
        header.notification
    </div>
    <div class="notifications__body">
            <ul>
                <li *ngFor="let notification of notifications">
                    <div class="notifications__title">
                      <span class="title">{{ notification.title }}</span>

                      <div class="notifications__menu">
                        <ul class="menu">
                          <li class="menuItem">
                            <span class="icon-keyboard_arrow_down"></span>
                            <ul class="menu">
                              <li class="menuItem"
                                (click)="item.command()"
                                *ngFor="let item of getMenuItems(notification)">
                                <span class="{{ item.icon }}"></span>
                                <span class="label">{{ item.label}}</span>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="notifications__message">{{ notification.message }}</div>
                    <div class="notifications__date">{{ notification.date }}</div>
                </li>
            </ul>
    </div>
</div>

<p-toast key="markAsToast"></p-toast>
<p-toast key="removedToast"></p-toast>
