<div class="preference">
  <div class="preference__detail">
    <div class="preference__inputGroup">
      <input type="text" pInputText class="preference__inputGroupOption" [(ngModel)]="keyword" (input)="search()" placeholder="{{ 'common.search' | translate}}">
      <button pButton type="button" icon="pi pi-search" (click)="search()" class="ui-button-warn preference__inputGroupButton"></button>
    </div>
    <div *ngIf="searchResult.length !== 0" class="preference__value pt-1" translate [translateParams]="{resultCount: resultCount, files: searchResult.length}"> preference.filter_result_info</div>
  </div>
  <ul class="preference__membersList">
    <li *ngFor="let result of searchResult">
      <div class="preference__label">{{ result.document.name }}</div>
      <div class="preference__value" *ngFor="let item of result.filterResult" [innerHTML]="item | searchResult"></div>
    </li>
  </ul>
</div>
