<ul>
    <li>
        <ul>
            <li><a><span class="icon-arrow_back_ios"></span></a></li>
            <li><a><span class="icon-arrow_forward_ios"></span></a></li>
            <li><a><span class="icon-arrow_drop_down"></span></a></li>
            <li><a><span class="icon-undo"></span></a></li>
            <li><a><span class="icon-redo"></span></a></li>
        </ul>
    </li>
    <li>
        <ul>
            <li><a><span class="icon-insert_drive_file"></span></a></li>
            <li><a><span class="icon-folder_open"></span></a></li>
            <li><a><span class="icon-save"></span></a></li>
            <li><a><span class="icon-file_download"></span></a></li>
        </ul>
    </li>
    <li>
        <ul>
            <li><a><span class="icon-layout-left"></span></a></li>
            <li><a><span class="icon-layout-bottom"></span></a></li>
            <li><a><span class="icon-layout-right"></span></a></li>
        </ul>
    </li>
    <li>
        <ul>
            <li><a><span class="icon-play_arrow"></span></a></li>
        </ul>
    </li>
</ul>