@import "../../../../assets/scss/shared.scss";

ul, li, a {
    float: left;
    display: block;
    height: 100%;
    padding: 0;
    margin: 0;
}

ul, a {
    width: 100%;
}

li {
    height: 100%;
    border-radius: 2px;
    padding: 0 3px;
    margin-right: 5px;
    background-color: $color__white-alpha-3;
    overflow: hidden;
}

li:last-child {
    margin-right: 0;
}

li > ul li {
    min-width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
}

a {
    padding: 4px;
    font-size: 18px;
    color: $color__dark-gray;
    text-align: center;
    cursor: pointer;
}

a.active,
a:hover {
    color: $color__white;
    background-color: $color__white-alpha-3;
}

li.disabled {
  a {
    color: $color__white-alpha-3 !important;
  }

  a.active,
  a:hover {
    color: $color__white-alpha-3 !important;
    background-color: transparent;
    cursor: default;
  }
}

:host ::ng-deep .ui-menu.toolbar_nav {
  background-color: $color__gray;

  .ui-menuitem-link {
    background-color: transparent;
    padding: 5px;

    display: block;
    float: left;
    width: 100%;

    &:hover {
      background-color: $color__white-alpha-3;
    }
  }

  .ui-menuitem-link-active {
    background-color: $color__white-alpha-3;

    &:hover {
      background-color: $color__white-alpha-3;
      cursor: default;
    }
  }

  .ui-menuitem-icon,
  .ui-menuitem-text {
    color: $color__white !important;
    display: block;
    float: left;
  }

  .ui-menuitem-icon {
    margin: 0;
  }

  .ui-menuitem-text {
    padding: 3px;
    font-family: 'LatoWebLight';
  }
}
