<div class="group">
    <div class="group__contentToolbar">
        <app-dashboard-toolbar [toolbar]="groupToolbar" (onClickToolbarButton)="onClickToolbarButton($event)"></app-dashboard-toolbar>
    </div>
    <div class="group__contentMain">
        <ul class="grid">
            <li>
                <span class="grid__icon icon-group"></span>
                <span class="grid__label">Sample group</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
        </ul>
    </div>
</div>


<p-dialog 
    [modal]="true" 
    [draggable]="false"
    [baseZIndex]="10000"
    styleClass="loide-dialog" 
    [style]="{width: '600px'}" 
    [(visible)]="createGroupDialog" 
    header="{{ 'group.create_group' | translate }}">
    
    <app-create-group></app-create-group>

</p-dialog>
