<div class="rename">
    <div class="col-12 form-component">
        <div class="form-component__label form-component__label--white">
            Rename /public/../samplefile to 
        </div>
    </div>
    <div class="col-12 form-component">
        <div class="form-component__label form-component__label--white" translate>
            document.document_name
        </div>
        <div class="col-12 p-0 clearfix">
            <input pInputText type="text" class="form-component__fluid" 
                placeholder="{{ 'document.placeholder_document_name' | translate}}"/>
        </div>
    </div>
    
</div>

<div class="dialog__footer">
    <button type="button" class="btn btn-success btn--md float-right">
        <span class="label" translate>common.save</span>
    </button>
    <button type="button" class="btn btn-warning btn--md float-right">
        <span class="label" translate>common.cancel</span>
    </button>
</div>