<div class="preferences">
    <div class="preferences__contentMenubar">
        <app-dashboard-menu [menuItems]="mainMenuItems"></app-dashboard-menu>
    </div>
    <div class="preferences__contentToolbar">
        <app-dashboard-toolbar (onClickToolbarButton)="onClickToolbarButton($event)" [toolbar]="adminToolbar"></app-dashboard-toolbar>
    </div>
    <div class="preferences__contentMain">
        <ul class="grid">
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [style]="{'width':'200px'}" [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [style]="{'width':'200px'}" [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [style]="{'width':'200px'}" [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [style]="{'width':'200px'}" [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [style]="{'width':'200px'}" [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [style]="{'width':'200px'}" [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [style]="{'width':'200px'}" [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [style]="{'width':'200px'}" [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [style]="{'width':'200px'}" [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [style]="{'width':'200px'}" [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [style]="{'width':'200px'}" [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
        </ul>
    </div>
</div>

<p-dialog
    [modal]="true"
    [draggable]="false"
    [baseZIndex]="10000"
    styleClass="loide-dialog"
    [style]="{width: '500px'}"
    [(visible)]="newLanguageDialog"
    header="{{ 'preference.add_language' | translate }}">

    <app-create-language></app-create-language>

</p-dialog>

<p-dialog
    [modal]="true"
    [draggable]="false"
    [baseZIndex]="10000"
    styleClass="loide-dialog"
    [style]="{width: '500px'}"
    [(visible)]="newAppearanceDialog"
    header="{{ 'preference.add_appearance' | translate }}">

    <app-create-appearance></app-create-appearance>

</p-dialog>

<p-dialog
    [modal]="true"
    [draggable]="false"
    [baseZIndex]="10000"
    styleClass="loide-dialog"
    [style]="{width: '500px'}"
    [(visible)]="newSolverDialog"
    header="{{ 'preference.add_solver' | translate }}">

    <app-create-solver></app-create-solver>

</p-dialog>
