<div class="preferences">
    <div class="preferences__contentMenubar">
        <app-dashboard-menu [menuItems]="mainMenuItems"></app-dashboard-menu>
    </div>
    <div class="preferences__contentToolbar">
        <app-dashboard-toolbar [toolbar]="adminToolbar"></app-dashboard-toolbar>
    </div>
    <div class="preferences__contentMain">
        <ul class="grid">
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-translate"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="gridItemMenu"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
        </ul>
    </div>
</div>