@import "../../assets/scss/shared.scss";

$singleSidebarOpened: 240px;
$bothSidebarOpened: 480px;

:host ::ng-deep .ui-tabmenu.editor__tabMenu {
    padding: 5px 0 0 !important;

    .icon {
        font-family: "iconLoide" !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        font-size: 24px;
    }

    .icon-file {
        @extend .icon-insert_drive_file;
    }

    .ui-tabmenu-nav {
      border-bottom: none;
    }

    .ui-tabmenu-nav li {
        margin-right: 2px;
        font-family: 'LatoWeb';
        height: 30px;
        overflow: hidden;
        background-color: $color__gray;
        border: none;
    }

    .active-style {
        border: none;
        color: $color__black !important;
        box-shadow: none !important;
        border: solid 1px $color__white-alpha-5;
        border-bottom: none;
        background-color: $color__white-alpha-5;
        border-bottom: solid 3px $color__white-alpha-5;
    }

    .ui-tabmenu-nav li a,
    .ui-tabmenu-nav li.ui-state-active a {
      display: block;
      font-weight: bold;
      padding: 6px 10px 0;
      color: $color__dark-gray !important;
    }

    .ui-tabmenu-nav li {
      &:hover {
        background-color: $color__white-alpha-3 !important;
        border: none !important;
        border-bottom: solid 3px $color__white-alpha-3 !important;
        .ui-menuitem-iconClose {
          display: block;
        }
      }
    }

    .ui-tabmenu-nav li.ui-state-active {
        @extend .active-style;
        background-color: $color__white-alpha-3;

        &:enabled:focus {
            @extend .active-style;
        }

        &:hover {
            @extend .active-style;
        }

        .ui-menuitem-iconClose {
          display: block;
          color: $color__white;
        }
    }

    .ui-menuitem-wrap {
      float: left;
      height: 20px;
    }

    .ui-menuitem-icon {
      float: left;
      width: 18px;
      height: 20px;
      margin: 0 !important;
      color: $color__dark-gray !important;
      font-size: 16px !important;
    }

    .ui-menuitem-iconClose {
      float: right;
      display: none;
      width: 15px;
      height: 20px;
      margin: 0 !important;
      margin-left: 5px !important;
      color: $color__dark-gray;

      span {
        font-size: 11px;
        font-weight: bold;
      }
    }

    .ui-menuitem-text{
      float: left;
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 0 5px !important;
    }
}

.editor {
    float: left;
    width: 100%;
    height: 100%;

    &__toolbar {
        float: left;
        width: 100%;
        height: 40px;
        padding: 5px;
        color: $color__dark-gray;
        background-color: $color__gray;
        border-bottom: 1px solid $color__black;
    }

    &__body {
        float: left;
        width: 100%;
        height: calc(100% - 40px);
    }

    &__bodySidebar {
        min-width: 40px;
        height: 100%;
        overflow: hidden;

        &--open {
            // min-width: $singleSidebarOpened;
        }

        &--left {
            float: left;
        }

        &--right {
            float: right;
        }
    }

    &__bodyResizeHorizontal {
      float: left;
      width: 2px;
      height: 100%;
      cursor: ew-resize;
      background-color: $color__white-alpha-5;
    }

    &__bodyResizeVertical {
      float: left;
      width: 100%;
      height: 2px;
      cursor: ns-resize;
      background-color: $color__white-alpha-5;
    }

    &__bodyContent {
        float: left;
        // width: calc(100% - 80px);
        max-width: calc(100% - 80px);
        padding: 0 3px;
        height: 100%;

        &--bothSidebarOpen {
            // width: calc(100% - 480px);
        }

        &--singleSidebarOpen {
            // width: calc(100% - 280px);
        }
    }

    &__tabs,
    &__emptyTab {
      float: left;
      width: 100%;
      height: calc(100% - 40px);
    }

    &__tabsMenuWrap {
      float: left;
      width: 100%;
      height: 40px;
    }

    &__tabsRoute{
      float: left;
      width: 100%;
      height: calc(100% - 40px);
    }

    &__bodyBottomBar {
      float: left;
      width: 100%;
      height: 40px;
    }

    &__emptyTab {
      padding-top: 15%;
      color: $color__white-alpha-5;
      text-align: center;

      span {
        font-family: 'LatoWebBold';
        text-transform: uppercase;
      }
    }
}

:host ::ng-deep .ui-toast.editor__toast {
  width: 100%;
  bottom: 0;
  left: 0;

  .ui-toast-message.ui-toast-message-warn {
    background-color: $color__dark-orange;
    margin: 0;
  }

  .ui-toast-message-content {
    padding: 3px;
  }

  .ui-toast-detail {
    text-align: center;
    color: $color__white;
    font-family: 'LatoWebBold';
  }

  .ui-toast-icon {
    display: none;
  }
}
