<div #editorWrap class="editor">
    <div class="editor__toolbar">
        <app-editor-toolbar (toolbarClicked)="onToolbarEvent($event)"></app-editor-toolbar>
    </div>
    <div class="editor__body">
        <div class="editor__bodySidebar editor__bodySidebar--left"
          [style.width.px]="widthBarLeft"
          (window:mouseup)="setResizePanel($event, resizeOpt.None)">
            <app-editor-sidebar  [panel]="resizeOpt.Left" [publicDocuments]="publicDocuments" [privateDocuments]="privateDocuments" [openByResize]="openSidebarLeftByResize" (onClickSidebar)="toggleSidebarLeft($event)"></app-editor-sidebar>
            <div class="editor__bodyResizeHorizontal" (mousedown)="setResizePanel($event, resizeOpt.Left)"></div>
        </div>
        <div class="editor__bodyContent" [style.width.px]="widthBody" >
            <div class="editor__emptyTab" *ngIf="editorMenuItems.length === 0">
              <span translate>editor.empty_tabs</span><br>
              <a class="link-blue" translate>editor.empty_create_document</a>
            </div>
            <div class="editor__tabs" [style.height.px]="heightBody" *ngIf="editorMenuItems.length !== 0">
              <div class="editor__tabsMenuWrap">
                <p-tabMenu [model]="editorMenuItems" styleClass="editor__tabMenu">
                  <ng-template pTemplate="item" let-item let-i="index">

                    <div class="ui-menuitem-wrap">
                      <div class="ui-menuitem-icon" [ngClass]="item.icon" *ngIf="item.icon"></div>
                      <div class="ui-menuitem-text"> {{item.label}} <span *ngIf="isChanged(item.state)">*</span> </div>
                      <div class="ui-menuitem-iconClose">
                          <span (click)="closeItem($event, item)" class="pi pi-times"></span>
                      </div>
                    </div>
                  </ng-template>
                </p-tabMenu>
              </div>
              <div class="editor__tabsRoute">
                <router-outlet></router-outlet>
              </div>
            </div>
            <div class="editor__bodyBottomBar" [style.height.px]="heightBarBottom">
              <div class="editor__bodyResizeVertical" (mousedown)="setResizePanel($event, resizeOpt.Bottom)"></div>
              <app-editor-sidebar [editorState]="editorState" [outputEvent]="outputEvent" (clearOutput)="clear()" (onClickSidebar)="toggleSidebarLeft($event)" [openByResize]="openSidebarBottomByResize" [panel]="resizeOpt.Bottom"></app-editor-sidebar>
            </div>
        </div>
        <div class="editor__bodySidebar editor__bodySidebar--right" [style.width.px]="widthBarRight" >
          <div class="editor__bodyResizeHorizontal" (mousedown)="setResizePanel($event, resizeOpt.Right)"></div>
          <app-editor-sidebar [editorState]="editorState" (onClickSidebar)="toggleSidebarLeft($event)" [openByResize]="openSidebarRightByResize" [panel]="resizeOpt.Right"></app-editor-sidebar>
        </div>
    </div>
</div>
