<div class="sidebar">
    <div class="sidebar__menu">
        <ul>
            <li class="sidebar__menuItem sidebar__menuItem--hr"></li>

            <li class="sidebar__menuItem" *ngFor="let sideMenuItem of sideMenuItems">
                <a routerLink="{{ sideMenuItem.routerLink }}" routerLinkActive="active">
                    <span class="{{ sideMenuItem.icon }}"></span>
                    <span translate>{{ sideMenuItem.label }}</span>
                </a>
            </li>

            <li class="sidebar__menuItem sidebar__menuItem--hr"></li>

            <li class="sidebar__menuItem">
                <a>
                    <span class="icon-business_center"></span>
                    <span>{{'common.about' | translate}} {{'common.loide' | translate}}</span>
                </a>
            </li>

            <li class="sidebar__menuItem">
                <a>
                    <span class="icon-file_download"></span>
                    <span>{{'common.download' | translate}} {{'common.loide' | translate}}</span>
                </a>
            </li>

            <li class="sidebar__menuItem sidebar__menuItem--hr"></li>
        </ul>
    </div>
</div>
