<div class="sidebar">
    <div class="sidebar__menu">
        <ul>
            <li class="sidebar__menuItem sidebar__menuItem--hr"></li>
            <li class="sidebar__menuItem">
                <a routerLink="documents" routerLinkActive="active">
                    <span class="icon-folder"></span>
                    <span translate>common.documents</span>
                </a>
            </li>
            <li class="sidebar__menuItem">
                <a routerLink="group" routerLinkActive="active">
                    <span class="icon-group"></span>
                    <span translate>common.group</span>
                </a>
            </li>
            <li class="sidebar__menuItem">
                <a routerLink="preferences" routerLinkActive="active">
                    <span class="icon-settings"></span>
                    <span>{{'common.member' | translate}} {{'common.preferences' | translate}}</span>
                </a>
            </li>
            <li class="sidebar__menuItem">
                <a routerLink="preferences" routerLinkActive="active">
                    <span class="icon-settings"></span>
                    <span>{{'common.admin' | translate}} {{'common.preferences' | translate}}</span>
                </a>
            </li>
            <li class="sidebar__menuItem">
                <a routerLink="archive" routerLinkActive="active">
                    <span class="icon-archive"></span>
                    <span translate>common.archive</span>
                </a>
            </li>
            <li class="sidebar__menuItem">
                <a routerLink="trash" routerLinkActive="active">
                    <span class="icon-delete"></span>
                    <span translate>common.trash</span>
                </a>
            </li>

            <li class="sidebar__menuItem sidebar__menuItem--hr"></li>

            <li class="sidebar__menuItem">
                <a>
                    <span class="icon-business_center"></span>
                    <span>{{'common.about' | translate}} {{'common.loide' | translate}}</span>
                </a>
            </li>

            <li class="sidebar__menuItem">
                <a>
                    <span class="icon-file_download"></span>
                    <span>{{'common.download' | translate}} {{'common.loide' | translate}}</span>
                </a>
            </li>

            <li class="sidebar__menuItem sidebar__menuItem--hr"></li>
        </ul>
    </div>
</div>