<div class="properties">
    <p-tabView styleClass="loide-tabView">
        <p-tabPanel header="{{ 'common.detail' | translate }}">
            <div class="propertiesPanel">
                <div class="col-12 form-component">
                  <div class="form-component__label form-component__label--white" translate>
                      document.document_name
                  </div>
                  <div class="form-component__label form-component__label--white form-component__label--value" translate>
                    {{ selectedDocument.name }}
                  </div>
                </div>

                <div class="col-12 form-component">
                  <div class="form-component__label form-component__label--white" translate>
                    document.location
                  </div>
                  <div class="form-component__label form-component__label--white form-component__label--value" translate>
                    {{ path }}
                  </div>
                </div>

                <div class="col-12 form-component">
                  <div class="form-component__label form-component__label--white" translate>
                      common.type
                  </div>
                  <div class="form-component__label form-component__label--white form-component__label--value" translate>
                      {{ selectedDocument.type }}
                  </div>
                </div>

                <div class="col-12 form-component">
                  <div class="form-component__label form-component__label--white" translate>
                      document.date_created
                  </div>
                  <div class="form-component__label form-component__label--white form-component__label--value">
                      {{ selectedDocument.properties.createdDateTime | date: 'medium'}}
                  </div>
                </div>

                <div class="col-12 form-component">
                  <div class="form-component__label form-component__label--white" translate>
                      document.date_modified_by
                  </div>
                  <div class="form-component__label form-component__label--white form-component__label--value">
                    {{ selectedDocument.properties?.lastModifiedBy?.profile?.firstName }}&nbsp;
                    {{ selectedDocument.properties?.lastModifiedBy?.profile?.lastName }}
                  </div>
                </div>

                <div class="col-12 form-component">
                  <div class="form-component__label form-component__label--white" translate>
                      document.date_modified
                  </div>
                  <div class="form-component__label form-component__label--white form-component__label--value">
                    {{ selectedDocument.properties.lastModifiedDateTime | date: 'medium'}}
                  </div>
                </div>

            </div>
        </p-tabPanel>
        <p-tabPanel header="{{ 'common.group' | translate }}">
          <div class="propertiesPanel">
            <form [formGroup]="groupForm">
            <div class="col-12 form-component">
              <div class="form-component__label form-component__label--white" translate>
                  common.group
              </div>
              <div class="col-12 p-0">
                <p-dropdown [options]="groupDropdownItems"
                  formControlName="group"
                  placeholder="{{ 'document.placeholder_select_group' | translate }}"
                  (onChange)="castMembersToTable($event.value)"
                  [showClear]="true">
                </p-dropdown>
              </div>
            </div>

            <div class="col-12 form-component">
              <p-table styleClass="loide-table"
                [columns]="colsMembers"
                [value]="membersTableValues"
                [rowHover]="true"
                [scrollable]="true"
                scrollHeight="300px">
                  <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th class="col" *ngFor="let col of columns" [pSortableColumn]="col.field">
                          <span translate>{{col.header}}</span>
                          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                        </th>
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                      <tr>
                        <td class="col" *ngFor="let col of columns">
                          <span *ngIf="col.field === 'name'">
                            {{ rowData.name }}
                          </span>
                          <span *ngIf="col.field === 'email'">
                            {{ rowData.email }}
                          </span>
                        </td>
                      </tr>
                  </ng-template>
              </p-table>
            </div>
            </form>
          </div>
        </p-tabPanel>
        <p-tabPanel header="{{ 'common.privacy' | translate }}">
            <div class="propertiesPanel">
              <form [formGroup]="privacyForm">
              <div class="col-12 form-component">
                  <div class="form-component__label form-component__label--white" translate>
                      common.privacy
                  </div>

                  <div class="col-12 p-0 create__component clearfix">
                      <div class="col-6 p-0 pt-2 float-left">
                          <p-radioButton name="privacy" [value]="'Public'"
                            [label]="'common.public' | translate" formControlName="privacy"></p-radioButton>
                      </div>
                      <div class="col-6 p-0 pt-2 float-left">
                          <p-radioButton name="privacy" [value]="'Private'"
                            [label]="'common.private' | translate" formControlName="privacy" ></p-radioButton>
                      </div>
                  </div>
              </div>

              <div class="col-12 form-component pt-2">
                <div class="form-component__label form-component__label--white" translate>
                    document.user_access
                </div>

                <div class="col-12 p-0 clearfix">
                    <div class="col-4 p-0 float-left">
                      <div class="col-12 p-0 form-component__label--white" translate>
                        common.owner
                      </div>
                      <div class="col-12 p-0">
                        <p-dropdown styleClass="loide-access" [options]="accessOpt" formControlName="owner"></p-dropdown>
                      </div>
                    </div>
                    <div class="col-4 p-0 float-left">
                      <div class="col-12 p-0 form-component__label--white" translate>
                        common.member
                      </div>
                      <div class="col-12 p-0">
                        <p-dropdown styleClass="loide-access" [options]="accessOpt" formControlName="member"></p-dropdown>
                      </div>
                    </div>
                    <div class="col-4 p-0 float-left">
                      <div class="col-12 p-0 form-component__label--white" translate>
                        common.other
                      </div>
                      <div class="col-12 p-0">
                        <p-dropdown styleClass="loide-access" [options]="accessOpt" formControlName="other"></p-dropdown>
                      </div>
                    </div>
                </div>
              </div>
              </form>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>

<div class="dialog__footer">
    <button type="button" class="btn btn-success btn--md float-right" (click)="saveSettings()">
        <span class="label" translate>common.save</span>
    </button>
    <button type="button" class="btn btn-warning btn--md float-right" (click)="cancel()">
        <span class="label" translate>common.cancel</span>
    </button>
</div>
