<div class="toolbar">
    <div class="toolbar__menuLeft">
        <button type="button" class="btn btn-info">
            <span class="icon icon-file_upload"></span>
            <span class="label" translate>common.import</span>
        </button>
        <button type="button" class="btn btn-success">
            <span class="icon icon-folder"></span>
            <span class="label" translate>document.button_create_folder</span>
        </button>
        <button type="button" class="btn btn-warning">
            <span class="icon icon-insert_drive_file"></span>
            <span class="label" translate>document.button_create_file</span>
        </button>
    </div>
    <div class="toolbar__menuRight">
        <button type="button" class="btn btn-warning float-right">
            <span class="icon icon-sort_by_alpha m-0"></span>
        </button>
        <div class="toolbar__searchWrap float-right">
            <div class="inputgroup">
                <input class="inputgroup__input" placeholder="Search document">
                <button type="button" class="btn btn-warning inputgroup__btn">
                    <span class="icon icon-search m-0"></span>
                </button>
            </div>
        </div>
    </div>
</div>