<div class="toolbar">
    <div class="toolbar__menuLeft" *ngIf="this.toolbar && this.toolbar?.buttonMenu">

        <ng-template let-buttonMenu ngFor [ngForOf]="this.toolbar && this.toolbar?.buttonMenu" *ngIf="isLogged">
            <button type="button" [ngClass]="buttonMenu.class" (click)="onClickToolbarButton(buttonMenu.id)">
                <span [ngClass]="buttonMenu.iconClass"></span>
                <span class="label" translate>{{ buttonMenu.labelIndex }}</span>
            </button>
        </ng-template>

    </div>
    <div class="toolbar__menuRight">
        <button type="button" class="btn btn-warning float-right" *ngIf="this.toolbar && this.toolbar?.enableSort">
            <span class="icon icon-sort_by_alpha m-0"></span>
        </button>
        <div class="toolbar__searchWrap float-right" *ngIf="this.toolbar && this.toolbar?.enableSearch">
            <div class="inputgroup">
                <input #searchInput
                  class="inputgroup__input"
                  (keyup)="emitSearchDocument($event.target.value)"
                  placeholder="{{this.toolbar?.searchPlaceholderIndex | translate}}">
                <button type="button" class="btn btn-warning inputgroup__btn" (click)="emitSearchDocument(searchInput.value)">
                    <span class="icon icon-search m-0"></span>
                </button>
            </div>
        </div>
    </div>
</div>
