@import './assets/scss/colors.scss';

html, body {
    font-family: 'LatoWeb';
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}
div {
    padding: 0;
    margin: 0;
}

.ui-menu.ui-menu-dynamic {
  z-index: 11100 !important;
  border-radius: 0;
  border: none !important;
  /*background: $color__gray;

  a {
    .ui-menuitem-text {
      color: $color__white !important;
    }
  }
  a:hover {
    .ui-menuitem-text {
      color: $color__dark-gray !important;
    }
  }*/
}

