.inputgroup {
    float: left;
    width: 100%;
    height: 100%;

    &__input {
        float: left;
        width: calc(100% - 55px);
        height: 100%;
        background-color: $color__white;
        color: $color__light-gray-1;
        border: solid 1px $color__white;
        padding: 10px;
        font-size: 14px;

        &--btn2 {
            width: calc(100% - 110px);
        }

        &--gray {
            background-color: $color__gray;
            border: solid 1px $color__gray;
            color: $color__white;
        }

        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $color__light-gray-1;
            opacity: 1; /* Firefox */
        }
        
        &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $color__light-gray-1;
        }
        
        &::-ms-input-placeholder { /* Microsoft Edge */
            color: $color__light-gray-1;
        }
    }

    &__btn {
        margin: 0 !important;
        height: 100% !important;
    }
}