<div class="documents">
  <div class="documents__contentMenubar">
    <app-dashboard-menu
      [isLogged]="isLogged"
      [menuItems]="menuItems"
      (onItemClick)="onClickDashboardItem($event)">
    </app-dashboard-menu>
  </div>

  <div class="documents__contentToolbar">
    <app-dashboard-toolbar
      [isLogged]="isLogged"
      (changeSearch)="onSearchDocuments($event)"
      (onClickToolbarButton)="onClickToolbarButton($event)"
      [toolbar]="documentToolbar">
    </app-dashboard-toolbar>
  </div>

  <div class="documents__contentBreadcrumb">
    <p-breadcrumb *ngIf="!isShowResult()" [model]="breadcrumbItems" (onItemClick)="onClickBreadcrumb($event)"></p-breadcrumb>
    <span class="documents__searchResult" *ngIf="isShowResult()" translate>document.title_search_result</span>
  </div>

  <div class="documents__contentMain">

    <ul class="grid" *ngIf="isShowResult()">
      <li *ngFor="let document of searchResult" (dblclick)="openFileFolder(document)">
        <span class="grid__icon"
          [ngClass]="{
            'icon-folder': isDocumentFolder(document),
            'icon-insert_drive_file': !isDocumentFolder(document)}"></span>
        <span class="grid__label">{{ document.name }}</span>
        <span class="grid__menu">
          <p-menu #menu [style]="{'width':'200px'}" [popup]="true" [model]="getMenuItems(document)"></p-menu>
          <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
            <span class="icon icon-keyboard_arrow_down m-0"></span>
          </button>
        </span>
      </li>
      <li class="grid__empty" *ngIf="searchResult && searchResult?.length === 0" translate>document.empty_document</li>
    </ul>

    <ul class="grid" *ngIf="isSelectedMenu(documentMenuItemOpt.Public)">
      <li *ngFor="let document of publicDocuments" (dblclick)="openFileFolder(document.data)">
        <span class="grid__icon"
          [ngClass]="{
            'icon-folder': isDocumentFolder(document.data),
            'icon-insert_drive_file': !isDocumentFolder(document.data)}"></span>
        <span class="grid__label">{{ document.data.name }}</span>
        <span class="grid__menu">
          <p-menu #menu [style]="{'width':'200px'}" [popup]="true" [model]="getMenuItems(document.data)"></p-menu>
          <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
            <span class="icon icon-keyboard_arrow_down m-0"></span>
          </button>
        </span>
      </li>
      <li class="grid__empty" *ngIf="publicDocuments && publicDocuments?.length === 0" translate>document.empty_document</li>
    </ul>


    <ul class="grid" *ngIf="isSelectedMenu(documentMenuItemOpt.Private)">
      <li *ngFor="let document of privateDocuments" (dblclick)="openFileFolder(document.data)">
        <span class="grid__icon"
          [ngClass]="{
            'icon-folder': isDocumentFolder(document.data),
            'icon-insert_drive_file': !isDocumentFolder(document.data)}"></span>
        <span class="grid__label">{{ document.data.name }}</span>
        <span class="grid__menu">
          <p-menu #menu [style]="{'width':'200px'}" [popup]="true" [model]="getMenuItems(document.data)"></p-menu>
          <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
            <span class="icon icon-keyboard_arrow_down m-0"></span>
          </button>
        </span>
      </li>
      <li class="grid__empty" *ngIf="privateDocuments && privateDocuments?.length === 0" translate>document.empty_document</li>
    </ul>

  </div>

</div>


<p-dialog
  [modal]="true"
  [draggable]="false"
  [baseZIndex]="10000"
  styleClass="loide-dialog"
  [style]="{width: '1024px'}"
  [(visible)]="createDocumentDialog"
  header="{{ 'document.create_document' | translate }}">

  <app-create-document
    (cancel)="this.onCancelChangeDocument($event)"
    [visible]="createDocumentDialog">
  </app-create-document>

</p-dialog>

<p-dialog
  [modal]="true"
  [draggable]="false"
  [baseZIndex]="10000"
  styleClass="loide-dialog"
  [style]="{width: '500px'}"
  [(visible)]="renameDocumentDialog"
  header="{{ 'document.rename' | translate }}">

  <app-rename-document
    *ngIf="renameDocumentDialog"
    (cancel)="this.onCancelChangeDocument($event)"
    [breadcrumbItems]="breadcrumbItems"
    [selectedDocument]="selectedDocument">
  </app-rename-document>

</p-dialog>

<p-dialog
  [modal]="true"
  [draggable]="false"
  [baseZIndex]="10000"
  styleClass="loide-dialog"
  [style]="{width: '500px'}"
  [(visible)]="propertiesDocumentDialog"
  header="{{ 'document.properties' | translate }}">

  <app-properties-document
    *ngIf="propertiesDocumentDialog"
    (cancel)="this.onCancelChangeDocument($event)"
    [breadcrumbItems]="breadcrumbItems"
    [selectedDocument]="selectedDocument">
  </app-properties-document>

</p-dialog>
