<div class="documents">
    <div class="documents__contentMenubar">
        <app-dashboard-menu [menuItems]="menuItems"></app-dashboard-menu>
    </div>
    <div class="documents__contentToolbar">
        <app-dashboard-toolbar></app-dashboard-toolbar>
    </div>
    <div class="documents__contentMain">
        <ul class="grid">
            <li>
                <span class="grid__icon icon-insert_drive_file"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-insert_drive_file"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-insert_drive_file"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-insert_drive_file"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-insert_drive_file"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-insert_drive_file"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-insert_drive_file"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-insert_drive_file"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-insert_drive_file"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-insert_drive_file"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
            <li>
                <span class="grid__icon icon-insert_drive_file"></span>
                <span class="grid__label">Sample file</span>
                <span class="grid__menu">
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    <button type="button" class="btn btn-secondary" (click)="menu.toggle($event)">
                        <span class="icon icon-keyboard_arrow_down m-0"></span>
                    </button>
                </span>
            </li>
        </ul>
    </div>
</div>