@import "../../assets/scss/shared.scss";

:host ::ng-deep .ui-breadcrumb {
  background-color: transparent !important;
  border: none !important;
}

.documents {
    float: left;
    width: 100%;
    height: 100%;

    &__contentMenubar {
        float: left;
        width: 100%;
        height: 170px;
    }

    &__contentToolbar {
        float: left;
        width: 100%;
        height: 65px;
        background-color: $color__gray;
        border-bottom: solid 3px $color__dark-orange;
    }

    &__contentBreadcrumb {
      float: left;
      width: 100%;
      height: 40px;
      padding: 0 20px;
      background-color: $color__white-alpha-8;
    }

    &__contentMain {
        float: left;
        width: 100%;
        padding: 20px;
        height: calc(100% - 270px);
        background-color: $color__white;
        overflow: auto;
    }

    .grid {
      li {
        cursor: pointer !important;
      }
      li:hover {
        color: $color__white;
        background-color: $color__gray;
      }
    }

    &__searchResult {
      display: block;
      float: left;
      padding: 13px 0;
      color: $color__gray;
    }
}
